:root {
    --font-family: "Montserrat", sans-serif;
  }
.form-wrapper{
  display: flex;
  justify-content: center;
  margin-top: 20px; 
}
.feedback-form {
    background: #fff;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    width: 408px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .form-label {
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    font-weight: 400;
    color: #2e2f42;
    font-size: 16px;
    letter-spacing: 0.04em;
    align-items: flex-start;
  }
  
  .form-input {
    font-family: var(--font-family);
    margin-top: 8px;
    padding: 8px 16px;
    border: 1px solid #808080;
    border-radius: 4px;
    font-size: 14px;
    width: 360px;
    transition: border-color 0.2s ease, background-color 0.2s ease;
  }
  
  .form-input:focus {
    border-color: #4e75ff;
    outline: none;
    background-color: #f8faff;
  }
  .form-message {
    margin-top: 8px;
    padding: 12px 16px;
    border: 1px solid #808080;
    border-radius: 4px;
    font-size: 16px;
    font-family: var(--font-family);
    width: 360px;
    height: 80px;
    resize: vertical;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: #2e2f42;
    transition: border-color 0.2s ease, background-color 0.2s ease;
  }
  
  .form-message:focus {
    border-color: #4e75ff;
    outline: none;
    background-color: #f8faff;
  }
  .form-btn {
    padding: 8px 16px;
    background-color: #4e75ff;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
    width: 86px;
    height: 40px;
    letter-spacing: 0.04em;
  }
  
  .form-btn:hover {
    background-color: #3b5fe3;
  }
  